{% load static %}
<link href="{% static "portal/style.css" %}" rel="stylesheet"/>
<ul id="navbar" class="horizontal">
    {% if request.user.is_authenticated %}
        <li><a id="profile" href="{% url 'portal:profile' %}">Profile</a></li>
        <li><a id="panel" href="{% url 'portal:panel' %}">Panel</a></li>
        {% if request.user.is_superuser %}
            <li><a id="make_new_course" href="{% url 'portal:create_course' %}">Create Course</a></li>
        {% endif %}
        <li><a id="logout" href="{% url 'portal:logout' %}">Logout</a></li>
    {% else %}
        <li><a id="login" href="{% url 'portal:login' %}">Login</a></li>
        <li><a id="register" href="{% url 'portal:register' %}">Register</a></li>

    {% endif %}
    <li><a id="contactus" href="{% url 'portal:contactus' %}">Contact Us</a></li>
    <li style="float:right"><a id="homepage" href="{% url 'portal:index' %}">Homepage</a></li>
</ul>
<div id="content">
    {% block content %}{% endblock %}
</div>