{% extends "portal/base.html" %}
{% block content %}
    <ul class="vertical">
        <li><img src={{ request.user.avatar.url }}/></li>
        <li>{{ request.user.avatar.url }}</li>
        <li> Username: {{ request.user.username }}</li>
        <li> First Name: {{ request.user.first_name }}</li>
        <li> Last Name: {{ request.user.last_name }}</li>
        <li><a href="{% url 'portal:settings' %}">>Incorrect data? Edit here.</a></li>
        <li>{{ request.user.bio }}</li>

    </ul>
{% endblock %}